.navbar-nav > li {
  padding-right: 10px;
  line-height: 10%;
  height: 70px;
  padding-top: 3%;
}

.navbar {
  min-height: 70px;
}

.navbar-header {
  padding-left: 14%;
  line-height: 80px;
}

.navbar-brand {
  padding-top: 0px;
  height: 80px;
  line-height: 80px;
}

.navbar-right{
	padding-right:14%;
}

.mainComponent {
	padding-top: 100px;
	padding-left: 15%;
	padding-right: 15%;
}

/* https://stackoverflow.com/questions/18075794/bootstrap-table-without-stripe-borders */
.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td {
    border: none;
}

.leftSylist {
	width: 125px;
    float: left;
}
.rightStylist {
	margin-left: 125px;
}


.leftTD {
	width: 26%;
}

/*
.homeBody {
	background-image: url("../images/home.gif");
	background-size: cover;
	background-attachment: fixed;
}*/

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
.wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -150px;
  /* Pad bottom by footer height */
  padding: 0 0 150px;
}

/* Set the fixed height of the footer here */
.footer {
  height: 150px;
  background-color: #f5f5f5;
}