#root {
  height: 100%
}

.index {
  height: 100%;
}

/* Gallery */

.under-gallery {
  clear:both;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  text-align: center;
  height: 100%;
}

.NonCentered {
  text-align: left;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.ContentWrap {
  margin-top: 80px;
  padding-top: 3%;
  padding-left: 17%;
  padding-right: 17%;
  padding-bottom: 120px;
}

.spacedSection{
    padding: 0px 0px 5px 0px;
}

p {
   line-height: 1.5;
   font-weight: 400;
   font-size: 1.1em;
   margin-bottom: 0px;
}

td > p {
  margin-bottom: 0px !important;
}

.borderless td, .borderless th {
    border: none;
}

/* Nav bar style*/

.navbar.navbar-default {
  border-bottom: none;
  min-height: 90px;
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.navbar-nav > li > a, .navbar-brand {
    min-height: 90px;
}

.navbar-default .navbar-nav > li > a {
  padding-top: 33px;
}

.home-picture {
  display: block;
  width: 100%;
  height: auto;
}

.body-wrapper {
  min-height: calc(100% - 80px);
  position: relative;
}

.custom-footer {
  margin-top: 20px;
  background-color: #e7e7e7;
  padding-top: 2%;
  bottom: 0;
  width: 100%;
  height: 100px;
  position: absolute;
  clear:both;
}

.question-p {
  margin-bottom: 0px !important;
}

.answer-p {
  margin-bottom: 12px !important;
}

@media (max-width: 767px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }

    .navbar.navbar-default {
      border-bottom: none;
      min-height: 30px;
      font-family: Helvetica Neue, Arial, sans-serif;
      font-size: 15px;
      font-weight: 500;
    }

    .navbar-nav > li > a, .navbar-brand {
        min-height: 30px;
    }

    .navbar-default .navbar-nav > li > a {
      padding-top: 15px;
    }

}